*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    margin: auto;
}

#main{
    margin-top: 10em;
}

#main-left h1{
    font-size: 4em;
    color: rgb(53, 90, 201);
}

#main-left p{
    font-size: 1.2em;
}

#main-right form{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 400px;
    margin-bottom: 1em;
    border-radius: 12px;
    box-shadow: 0.5px 0.5px #888888;
    padding: 1em;
}

#main-right input{
    padding: 1em;
    border-radius: 5px;
    border-width: 0.5px;
    margin: 0.5em;
}

.mc-2 input[type=submit]{
    border: transparent;
}

#login{
    background-color: rgb(53, 90, 201);
    font-weight: bold;
    font-size: 1em;
    color: white;
}

#forget-p{
    padding: 0.5em 0 1em 0;
    border-bottom: solid 0.5px gray;
    text-align: center;
}

#forget-a{
    font-size: small;
    color: steelblue;
}

#create{
    width: 60%;
    align-self: center;
    margin-top: 2em;
    background-color: rgb(70, 179, 94);
    font-weight: bold;
    font-size: 1em;
    color: white;
}

#celeb-a{
    color: black;
    font-weight: bold;
    font-size: small;
}

#celeb-a:hover{
    color: steelblue;
}


#celeb-p{
    color: black;
    font-size: small;
    text-align: center;
}

footer{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    font-size: small;
    min-width: 100%;
    margin: 0;
}

footer ul{
    list-style: none;
}

footer ul li{
    padding: 0.7em;
}

footer ul li a{
    color: steelblue;
}

#foot-top ul{
    display: flex;
    border-bottom: solid #888 0.5px;
}

#foot-bottom ul{
    display: flex;
    flex-wrap: wrap;
}

#foot-top ul:first-child{
    color: #888;
}

@media only screen and (orientation: portrait){
    body{
        overflow-x: hidden;
    }
    #main-left{
        align-items: center;
        text-align: center;
        margin: 0 0 1em 0;
        padding: 0;
    }
    #main-right{
        padding: 0;
    }
    #main-right form{
        margin: auto;
    }
    #celeb-p{
        margin-top: 1em;
    }
}